.wraper {
    max-width: 1200px;
    padding: 0 15px;
}
h1 {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
    color: #007bff;
}
h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #007bff;
}